@use "sass:math";

@function betterClamp($minSize, $maxSize, $minWidth: 400, $maxWidth: 1200) {
    // source: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    // convert to rem
    $minSize: math.div($minSize, 16);
    $maxSize: math.div($maxSize, 16);
    $maxWidth: math.div($maxWidth, 16);
    $minWidth: math.div($minWidth, 16);
    // do calculations
    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersection: -$minWidth * $slope + $minSize;
    // output as rem
    $minSize: $minSize * 1rem;
    $maxSize: $maxSize * 1rem;
    @return clamp(#{$minSize},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize});
}

.title {
    font-family: 'Title';
    text-transform: uppercase;
    max-width: 8rem;
    margin: 0 0 2rem;
    line-height: 0.9;
    font-size: betterClamp(100, 250);

    sup {
        font-size: .1em;
        vertical-align: super;
        position: relative;
        top: -5rem;
    }
}

.copy {
    max-width: 600px;
    font-size: 1.5rem;
    line-height: 1.75;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0 0 5rem;
}

.nsfw {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    color: red;
}

.spam {
    color: #f2e213;
    background-color: #232765;
    border-radius: .2rem;
    padding: .2rem;
    font-family: 'Comic Sans MS';
}

.blue {
    color: #70d6ff;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.pink {
    color: #ff70a6;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.clementine {
    color: #ff9770;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.nectarine {
    color: #ffd670;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.highlighter {
    color: #e9ff70;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.form {
    margin-top: 2rem;

    .field {
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid #000;
        border-radius: 0.25rem;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: #70d6ff;
        }
    }

    textarea {
        min-height: 100px;
        resize: vertical;
    }

    .error {
        color: red;
        font-size: 0.875rem;
        margin-top: 0.25rem;
    }

    .rootError {
        color: red;
        margin-bottom: 1rem;
    }

    button {
        padding: 0.75rem 2rem;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;

        &:hover:not(:disabled) {
            background-color: #70d6ff;
            color: #000;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}